.contacts {
  @include page-grid;

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 6;
    }

    @include on-desktop {
      grid-column: 1 / 7;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include on-desktop {
      @include page-grid;

      align-items: start;
    }
  }

  &__inputs-block {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__input {
    box-sizing: border-box !important;
    font-family: 'Space Mono', serif;
    color: #7e7e83;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    margin: 0;
    padding: 14px 16px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: $contacts-bg-color;
    outline: none;
    transition: all 0.3s;

    &:hover {
      border: 1px solid #d5d7de;
      color: #292929;
    }

    &:focus {
      border: 1px solid #292929;
      color: #292929;
    }

    &--textarea {
      resize: none;
      height: 148px;
    }
  }

  &__button {
    margin-top: 16px;

    @include button;
  }

  &__info-block {
    margin-top: 48px;

    @include on-tablet {
      margin-top: 80px;
    }

    @include on-desktop {
      grid-column: 7 / -1;
      margin-top: 0;
    }
  }

  &__info {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-title {
      margin: 0;
      color: #9393a3;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
    }

    &-text {
      font-family: 'Space Mono', sans-serif;
      font-size: 16px;
      line-height: 140%;
      margin: 0;
      text-decoration: none;
      color: #191919;
    }
  }
}
